html, body {
  margin: 0;
  padding: 0;
}

.container {
	margin: auto;
}

.title {
	margin-top: 100px;
}

.buttonPlay {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

h1 {
	text-align: center;
	font-family: Lato;
	color: #3d3d3d;
	font-weight: 100;
}

p {
	text-align: center;
	font-family: Lato;
	color: #3d3d3d;
	font-weight: 100;
}

.patatap, .p5Canvas {
	margin-left: auto;
    margin-right: auto;
}

.switch input {
	display: none;
	text-align: center;
	}

.slider {
  	position: absolute;
  	cursor: pointer;
	background-color: #ccc;
  	-webkit-transition: .4s;
  	transition: .4s;
  	width: 100px;
  	height: 54px;
  	margin-left: auto;
  	margin-right: auto;
}

.slider:before {
  position: absolute;
  content: "";
  height: 46px;
  width: 46px;
  left: 4px;
  bottom: 4px;
  top: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(46px);
  -ms-transform: translateX(46px);
  transform: translateX(46px);
}